.table {
    border: none;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.orangeHeader {
    color: var(--orange);
    border-bottom: 2px solid var(--orange);
}

.cyanHeader {
    color: var(--cyan);
    border-bottom: 2px solid var(--cyan);
}

.headerCell {
    padding: 10px 0;
}

.cell {
    vertical-align: center;
    height: 24px;
    padding: calc(var(--spacing) * 1.5) 0 calc(var(--spacing) / 2);

    font-weight: 600;
}

.scoreCell {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 2);
    width: 80px;
    height: 24px;
    padding: calc(var(--spacing) * 1.5) 0 calc(var(--spacing) / 2);
}

.row {
    padding: calc(var(--spacing) * 2.5) 0;

    color: var(--white);
}

.dead {
    color: var(--inactive);
}

